<div class="products_container">
    <button class="btn btn-danger" routerLink="/admin/product/new">Add new+</button>
    <products-search></products-search>
    <br>
    <admin-productslist [products]="(searchedProducts$ | async)" *ngIf="(searchedProducts$ | async).length > 0"></admin-productslist>
    <br>
    <admin-productslist [products]="(products$ | async).products"></admin-productslist>
    <app-pagination 
        [pages]="pages" 
        [currentPage]="currentPage" 
        (pageChanged)="changePage($event)"
        *ngIf="pages>1">
    </app-pagination>
</div>