<div class="products_container">
    <header> <app-subheader [pageName]="pageName"></app-subheader> </header>
    <div class="container product_main">
        <nav>
            <ul>
                <li>Computers</li>
                <li>Printers</li>
                <li>Camaras</li>
            </ul>
        </nav>
        <products-search></products-search>
        <hr />
        <products-list [products] ="(products$ | async).products" ></products-list>
        <app-pagination 
            [pages]="pages" 
            [currentPage]="currentPage" 
            (pageChanged)="changePage($event)"
            *ngIf="pages>1">
        </app-pagination>
        
    </div>
        
</div>