<div class="modal-header">
    <h4 class="modal-title">Checkout</h4>
    <button type="button" class="close" aria-label="close" (click)="activeModal.dismiss('cross click')">x</button>
</div>
        <form [formGroup] ="checkoutForm" (ngSubmit)="checkout">
            <div class="modal-body">
                <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="name">First name</label>
                                    <em *ngIf="checkoutForm.controls.firstname?.invalid &&
                                    (checkoutForm.controls.firstname?.touched || mouseOverProceed)
                                    ">Required</em>
                                    <input type="text" required formControlName="firstname" class="form-control" name="firstname" />
                                </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                  <label for="email">Last name</label>
                                  <em *ngIf="checkoutForm.controls.lastname?.invalid &&
                                    (checkoutForm.controls.lastname?.touched || mouseOverProceed)
                                    ">Required</em>
                                  <input type="text" required formControlName="lastname" class="form-control" name="lastname" />
                              </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                    <div class="form-group">
                                        <label for="phone">phone</label>
                                        <em *ngIf="checkoutForm.controls.phone?.invalid &&
                                        (checkoutForm.controls.phon?.touched || mouseOverProceed)
                                        ">Required</em>
                                        <input type="text" required formControlName="phone" class="form-control" name="phone" />
                                    </div>
                                </div>
                            <div class="col">
                              <div class="form-group">
                                  <label for="email">Email</label>
                                  <em *ngIf="checkoutForm.controls.email?.invalid &&
                                    (checkoutForm.controls.email?.touched || mouseOverProceed)
                                    ">Required</em>
                                  <input type="text" required formControlName="email" class="form-control" name="email" />
                              </div>
                          </div>
                        </div>
                            <h4>Delivery address</h4>
                              <div class="form-group">
                                  <label for="address">Address</label>
                                  <em *ngIf="checkoutForm.controls.address?.invalid &&
                                    (checkoutForm.controls.address?.touched || mouseOverProceed)
                                    ">Required</em>
                                  <input type="text" required formControlName="address" class="form-control" name="address" />
                              </div>
                      <div class="row">
                          <div class="col">
                              <div class="form-group">
                                  <label for="city">City/Town</label>
                                  <em *ngIf="checkoutForm.controls.city?.invalid &&
                                    (checkoutForm.controls.city?.touched || mouseOverProceed)
                                    ">Required</em>
                                  <input type="text" required formControlName="city" class="form-control" name="city" />
                              </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                                <label for="state">State</label>
                                <em *ngIf="checkoutForm.controls.state?.invalid &&
                                    (checkoutForm.controls.state?.touched || mouseOverProceed)
                                    ">Required</em>
                                <input type="text" required formControlName="state" class="form-control" name="state" />
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                            <span (mouseenter)="mouseOverProceed=true" (mouseleave)="mouseOverProceed=false">
                                    <button type="submit" class="btn btn-danger" [disabled]="checkoutForm.invalid">
                                        <span *ngIf="!loading">Proceed</span>
                                        <div *ngIf="loading" class="spinner-border text-light spinner-border-sm" role="status">
                                            <span class="sr-only">loading...</span>
                                        </div>
                                    </button>
                                </span>

                            
                        </div>
                    </div>
                
        </form>

