<div class="main-container">
    <app-subheader [pageName]= "pageName"></app-subheader>
    <div class="contact_container">
            <p>WE LOVE TO HERE FROM YOU</p>
            <h4>Contact Us</h4>
            <section>
              
                <form class="form">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Your Name" />
                        </div>
                        <div class="col">
                            <input type="email" class="form-control" placeholder="Your Email" />
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Subject" />
                        </div>
                    </div>
                    <br />
                    <div class="form-row">
                        <div class="col">
                            <textarea class="form-control" placeholder="Message" ></textarea>
                        </div>
                    </div>
                    <br />
                        <button class="btn btn-danger">Send Message</button>
                </form>
            </section>
    </div>
</div>
