<div class="container-fluid home-container">
        <section class="about">
            <h4>JoeLinks Computers</h4>
            <h1>Sales, Repairs & Servicing</h1>
            <p>As a computer sales and Servicing company, we pride our self in sales of all manner of computer hardwares..</p>
            <div>
                <button class="btn btn-danger">Learn More</button>
                <button class="btn btn-light">Service</button>
            </div>
        </section>
        <section class="services">
            <div class="card_main">
                <div class="card cards">
                    <img src="/assets/icons/desktop_ic30px.png" class="card_icon" />
                    <div class="service_title">Computer sales</div>
                    <p>Installations of all kind of application software, Operating system, games etc</p>
                </div>
                <div class="card">
                    <img src="/assets/icons/desktop_ic130px.png" class="card_icon" />
                    <div class="service_title">Repairs and Servicing</div>
                    <p>Repairs and Servicing of all computers, Laptops, Desktop, printers</p>
                </div>
                <div class="card cards">
                    <img src="/assets/icons/desktop_ic30px.png" class="card_icon" />
                    <div class="service_title">Software installations</div>
                    <p>Sales of assorted computer sytems, printers and cameras</p>
                </div>
            </div>
        </section>
        <app-about></app-about>
    </div>
    <app-clients></app-clients>
    <app-team></app-team>
    