<div class="container-fluid home-container">
        <section class="about">
            <h4>JoeLinks Computers</h4>
            <h1>Sales, Repairs & Servicing</h1>
            <p>As a computer sales and Servicing company, we pride our self in sales of all manner of computer hardwares..</p>
            <div>
                <button class="btn btn-danger">Learn More</button>
                <button class="btn btn-light">Service</button>
            </div>
        </section>
        <app-services></app-services>
        <app-about></app-about>
    </div>
    <app-clients></app-clients>
    <app-team></app-team>
    