<div class="container-fluid home-container">
        <section class="about">
            <h4>JoeLinks Computers</h4>
            <h1>Sales, Repairs & Maintenance</h1>
            <p>We are number one in computer Accessories, Laptops/Notebooks, Desktops, Printers, All computer parts.</p>
            <p>No 7 Water works road Abakaliki Ebonyi State, Beside Mr Biggs.</p>
            <div class="about_btns">
                <button class="btn btn-danger" [routerLink]= "['/about']">Learn More</button>
                <button class="btn btn-light" [routerLink]= "['/services']">Services</button>
            </div>
        </section>
        <app-services></app-services>
        <app-about></app-about>
    </div>
    <app-clients></app-clients>
    <app-team></app-team>
    