<div>
    <header> <app-subheader [pageName]="pageName"></app-subheader> </header>
    <main class="product_wrapper">
        <section class="product_container">
            <div class="product_images">
                <div class="main_image">
                    <img src={{product?.images[0].url}} alt="product image" *ngIf="product?.images[0]" />
                </div>
                <div class="thumbnails">
                        <div class="thumbnail" *ngIf="product?.images[1]"><img src={{product?.images[1].url}} alt="product image" /></div>
                        <div class="thumbnail" *ngIf="product?.images[2]"><img src={{product?.images[2].url}} alt="product image" /></div>
                        <div class="thumbnail" *ngIf="product?.images[3]"><img  src={{product?.images[3].url}} alt="product image" /></div>
                    </div>
            </div>
            <div class="product_description">
                <div class="product_name"> {{ product?.name}}</div>
                <div> {{ product?.attributes.processor}}</div>
                <div> {{ product.attributes.ram}} {{ product.attributes.size}}</div>
                <div class="category"> <b>Category: </b> <span>{{ product?.category}}</span></div>
                <div> {{ product?.description}}</div>
                <div>
                    <span class="product_quantity">
                        <button (click)="addQuantity()">^</button>
                        <input class="input" type="number" value={{quantity}} readonly />
                        <button (click)="subtractQuantity()">v</button>
                    </span>
                    <span>  price: {{ product?.price | currency: "N"}}</span>
                </div>
                <button class="btn btn-danger cart_btn" (click)="addToCart( product)">ADD TO CART</button>
            </div>
        </section>
        
    </main>
        <section class="similar_products" *ngIf="similarProducts.length>0">
            <h6>You may also like</h6>
            <products-list [products]="similarProducts"></products-list>
        </section>
</div>