<div>
    <header>
        <app-subheader [pageName]="pageName"></app-subheader>
    </header>
    <div class="jumbotron" *ngIf="(cart$ | async)?.length === 0">
        <img src="/assets/icons/cart30.png" alt="shopping cart" />
        <p>You have no items in your shopping cart! </p>
        <button class="btn btn-danger" routerLink = "/products">Start Shopping</button>
    </div>
    <main class="container main" *ngIf="(cart$ | async)?.length > 0" >
        <section class="cart_products">
            <div class="table-responsive table_res">
                <table class="table w-75">
                        <thead>
                            <th></th>  
                            <th>Product</th>  
                            <th>Quantity</th>  
                            <th>Subtotal</th>  
                            <th></th>  
                        </thead>
                        <tbody class="tbody">
                            <tr class="tr" *ngFor="let cartProduct of cart$ | async ">
                                <td class="td">
                                    <img src={{cartProduct?.image}} alt="product" />
                                </td>
                                <td class="td">
                                    <div class="product_name" [routerLink]= "['/product', cartProduct._id]">{{cartProduct?.name}} </div>
                                    <div class="product_price">price {{cartProduct?.price | currency:"USD":"symbol"}} </div>
                                </td>
                                <td class="td">
                                    <span class="quantity_pane">
                                        <input type="number" class="quantity_field" readonly value= {{cartProduct.quantity}} />
                                        <div class="quantity_btns">
                                            <button (click)= "onQuantityChange(cartProduct._id, cartProduct?.quantity+1)">^</button>
                                            <button (click)= "onQuantityChange(cartProduct._id, cartProduct?.quantity-1)">v</button>
                                        </div>
                                    </span>
                                </td>
                                <td> {{cartProduct?.price * cartProduct?.quantity | currency:"USD":"symbol"}}</td>
                                <td class="remove_icon" (click) = "removeProduct(cartProduct?._id)"> x </td>
                            </tr>
                        </tbody>
                </table>
            </div>
            
        </section>
        <section class="cart_total">
            <table>
                <tbody class="table w-100 table-borderless">
                    <tr>
                        <td>{{(cart$ | async)?.length}} items</td>
                        
                        <td>{{getTotalPrice(cart$ | async)| currency:"USD":"symbol"}}</td>
                    </tr>
                    <tr>
                        <td>shipping</td>
                        
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        
                        <td>{{getTotalPrice(cart$ | async) | currency:"USD":"symbol" }}</td>
                    </tr>
                    <tr>
                      <td>
                            <button class="btn btn-success btn-sm" (click)="openCheckoutModal()">Checkout</button>
                      </td>  
                      <td>
                            <button class="btn btn-danger btn-sm" routerLink="/products">Continue shopping</button>
                      </td>
                    </tr>
                </tbody>
            </table>
            
        </section>
    </main>
</div>