<header class="header-container">
    <footer class="header-footer">
        <div class="footer_social_icons"> 
            <a  href="/#"> <img src="/assets/icons/fb_ic10px.png" alt="facebook"/> </a>
            <a href="/#"> <img src="/assets/icons/twitter_ic15px.png" alt="twitter"/> </a>
            <a href="/#"> <img src="/assets/icons/whatsapp_ic15px.png" alt="whatsapp"/> </a>
        </div>
            <div class="terms"> 
                <a routerLink ="/contact">Contact us</a>
                <a *ngIf="!(currentUser$ | async )" routerLink ="/login">Login</a>
                <a *ngIf="!(currentUser$ | async )" routerLink ="/signup">Sign up</a>
                <a *ngIf="(currentUser$ | async )" routerLink ="/login">{{ (currentUser$ | async)?.username}}</a>
                <span *ngIf="(currentUser$ | async )" (click)="logoutUser()">Logout</span>
            </div>
    </footer>
        <nav class="sub-header">
            <div class="sub_header_logo">
                <img src="/assets/icons/logo.ico" alt="logo"/>
                <span>Joe</span>
                <span>links</span>
            </div>
            <ul class="sub_header_nav">
                <li> <a routerLink ="/">Home</a></li>
                <li> <a routerLink ="/services">Service</a></li>
                <li> <a routerLink ="/products">Products</a></li>
                <li> <a routerLink ="/about">About</a></li>
                <li > <a routerLink ="/cart"><img src="/assets/icons/cart_ic15px.png" />{{(cart$ | async)?.length}}</a></li>
            </ul>
        </nav>
</header>


