<div class="container">
        <div *ngIf="errorMessage" class="alert alert-danger"> {{errorMessage}}</div>
        <form [formGroup]= "productForm" (ngSubmit)="onSubmit(productForm.value)" >
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <em *ngIf="productForm.controls.name?.invalid &&
                        (productForm.controls.name?.touched || mouseOverSubmit)
                        ">Required</em>
                        <input type="text" formControlName="name" placeholder="prodoct name" class="form-control">
                    </div>
                </div>
                <div class="col">
                        <div class="form-group">
                            <label for="price">Price</label>
                            <em *ngIf="productForm.controls.price?.invalid &&
                            (productForm.controls.price?.touched || mouseOverSubmit)
                            ">Required</em>
                            <input type="number" formControlName="price" placeholder="product price" class="form-control">
                        </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="discountedPrice">Discounted price</label>
                        <input type="number" formControlName="discountedPrice" placeholder="discounted price" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <em *ngIf="productForm.controls.quantity?.invalid &&
                            (productForm.controls.quantity?.touched || mouseOverSubmit)
                            ">Required</em>
                            <input type="number" formControlName="quantity" name="quantity" placeholder="product inventery" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                            <div class="form-group">
                                <label for="brand">Brand</label>
                                <em *ngIf="productForm.controls.brand?.invalid &&
                                (productForm.controls.brand?.touched || mouseOverSubmit)
                                ">Required</em>
                                <input type="text" formControlName="brand" name="brand" placeholder="brand name" class="form-control">
                            </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="category">Select category</label>
                            <em *ngIf="productForm.controls.category?.invalid &&
                            (productForm.controls.category?.touched || mouseOverSubmit)
                            ">Required</em>
                            <select name="category" formControlName="category" aria-placeholder="select"  id="category" class="form-control">
                                <option value="productForm.value.category" selected> {{productForm.value.category}}</option>
                                <option *ngFor="let category of categories$ | async" value={{category?.name}}>{{category?.name}}</option>
                            </select>
                        </div>
                    </div>
            </div>
                <div formGroupName="attributes">
                    <h3>Product attributes</h3>
                    <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="processor">Processor</label>
                                    <input name="processor" type="text" formControlName="processor" placeholder="for computers only" class="form-control">
                                </div>
                            </div>
                            <div class="col">
                                    <div class="form-group">
                                        <label for="ram">Ram</label>
                                        <input name="ram" type="text" formControlName="ram" placeholder="computers only" class="form-control">
                                    </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="size">Size</label>
                                    <input name="size" type="text" formControlName="size" placeholder="e.g 14'inch, 32gb, 10m" class="form-control">
                                </div>
                            </div>
                        </div>
                </div>
            <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <em *ngIf="productForm.controls.description?.invalid &&
                            (productForm.controls.description?.touched || mouseOverSubmit)
                            ">Required</em>
                            <textarea class="form-control" formControlName="description" placeholder="product description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="product">
                    <div class="col-md-12">
                        <h6>Existing images</h6>
                        <div class="image-list" *ngFor="let imageUrl of productImagesUrl; let i = index">
                            <div>
                                <div class="product">
                                    <img src={{imageUrl.url}} alt="">
                                </div>
                            </div>
                            <span class="remove" (click)="removeExistingImage(i)">X</span>
                        </div>
                    </div>
                </div>
                
                <h6>Select product image (4 images max, 2mb max)</h6>
            <div class="row">
                <div class="col-md-12">
                    <div class="fileupload" appDragDropFileUpload (click)="fileField.click()"
                        (fileDropped)="onSelectFile($event)">
                        <span class="ddinfo"> click here to select image, or drag and drop here...</span>
                        <input type="file" name="avatars" #fileField (change)="onSelectFile($event.target.files)" hidden multiple>
                    </div>
                </div>
    
                <div class="col-md-12">
                    <div class="image-list" *ngFor="let fileObjUrl of filesObjUrl; let i = index">
                        <div>
                            <div class="product">
                                    <img [src]="sanitize(fileObjUrl['url'])" alt="">
                            </div>
                            <p>{{fileObjUrl.file.name}}</p>
                        </div>
                        <span class="remove" (click)="removeImage(i)">X</span>
                    </div>
                </div>
            </div>

            <span (mouseenter)="mouseOverSubmit=true" (mouseleave)="mouseOverSubmit=false">
                    <button type="submit" class="btn btn-danger" [disabled]="productForm.invalid">
                        <span *ngIf="!isLoading">Submit</span>
                        <div *ngIf="isLoading" class="spinner-border text-light spinner-border-sm" role="status">
                            <span class="sr-only">loading...</span>
                        </div>
                    </button>
                </span>
                
        </form>
    </div>